/*
 * Proteus GA4GH TES v1.1 Nextflow Configuration
 */

plugins {
    id 'nf-ga4gh@0.3.0'
}

params {
    tes_endpoint = System.getenv('PROTEUS_TES_ENDPOINT') ?: 'http://localhost:8080/v1'
}

process {
    executor = 'tes'
    errorStrategy = 'retry'
    maxRetries = 2
    
    // Resource limits passed to Proteus TES task scheduler
    cpus = 2
    memory = '4 GB'
}

tes {
    endpoint = params.tes_endpoint
}
